button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.nav-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
}

.nav-bar-hamburger-button {
  background: transparent;
  height: 10px;
  width: auto;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  outline: none;
}

.fa-bars {
  font-size: 20px;
  color: darkslategray;
}

.youtube-logo {
  width: 110px;
  margin-top: 10px;
  margin-left: 10px;
}

.youtube-pic {
  max-width: 100%;
  max-height: 100%;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  width: 770px;
  margin-top: 15px;
  width: 770px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: auto;
}

.search-bar-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-bar-input {
  height: 30px;
  width: 574px;
  border: 1px solid #ccc9c9;
  margin-left: 25px;
  padding: 2px 12px 2px 12px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-bar-input:focus {
  outline: 1px solid blue;
  border-right: 1px solid blue;
}

.container-icon .fa-user-circle {
  font-size: 40px;
  margin-left: 30px;
  margin-top: 15px;
}

.fa-video {
  font-size: 23px;
}

.fa-user-circle {
  font-size: 32px;
}

.search-bar-button {
  width: 65px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc9c9;
  border-top: 1px solid #ccc9c9;
  border-right: 1px solid #ccc9c9;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-bar-button:hover {
  background: #eeeeee;
}

.fa-search {
  color: #949393;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 500px;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0px 20px;
}

.upload-video-button {
  background: transparent;
  margin-top: 15px;
  border: none;
  margin-right: 25px;
}

.signed-in-button {
  cursor: pointer;
  margin-top: 10px;
}

.log-in-link {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.log-in-button {
  background: transparent;
  height: 48px;
  width: auto;
  outline: none;
  margin-top: 8px;
  border: none;
}

.log-in-image {
  max-width: 100%;
  max-height: 100%;
}

.user-profile-dropdown {
  position: absolute;
  width: 250px;
  height: 225px;
  margin-right: 13px;
  right: 0%;
  background-color: #fff;
  z-index: 9999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 80%;
}

.dropdown-name {
  text-align: center;
  font-style: 'Roberto';
  font-weight: bold;
  margin-left: 50px;
  margin-top: 0px;
}

.dropdown-email {
  text-align: center;
  font-style: 'Roberto';
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.name-email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: lightgray solid 1px;
}

.container-icon {
  height: 10px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 10px;
}

.account-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10px;
}

.sign-out-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sign-out-container:hover {
  background-color: #eceaea;
}

.account-container:hover {
  background-color: #eceaea;
}

.sign-out-logo {
  margin-top: 10px;
  margin-left: 10px;
}

.bottom-dropdown-container {
  border: lightgray solid 1px;
  cursor: pointer;
}

.account-icon {
  margin-top: 10px;
  margin-left: 10px;
}

.dropdown-account {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 15px;
  font-family: 'Roboto';
}

.dropdown-sign-out {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 15px;
  font-family: 'Roboto';
}

.studio-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10px;
}

.studio-link-container:hover {
  background-color: #eceaea;
}

.studio-link-icon {
  margin-top: 10px;
  margin-left: 10px;
}

.dropdown-studio {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 15px;
}
/*# sourceMappingURL=navbar.css.map */