// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    font-family: 'Roboto';
    overflow-x: hidden;
}
.signup-div {
    display: flex;
    font-family: 'Roboto';
    justify-content: center;
    
  
}
.sign-in-form{
    border: 1px solid lightgray;
    margin-top: 100px;
    display: block;
    // margin-left: 200px;
    height: 500px;
    width: 448px;
    padding-left: 40px;
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 36px;
    // width: 75%;
    // align-items: center;
    border-radius: 5px;
    // margin-top: 10px;
    // margin-right: 200px;
    box-sizing: border-box;
    

}

.google-img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // margin-top: -70px;
}

.login-text-container{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    height: 80px;   
    width:370px ;
}

.signup-form-container{
        display: flex;
}

.signup-form-logo{
    height: 40px;
    // margin-top: 70px;
    // margin-left: 10px;
}
.signup-form-header{
    margin-left: 10px;
    font-size: 24px;
    min-height:  10px;
    // margin: 20px;
    // margin-top: 0px;
    font-family: 'Roboto';
    font-weight: 500;
    
}


.signup-form-subheader{
    font-size: 16px;
    // margin:25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 14px;
    // font-weight: lighter;
    font-family: 'Roboto';
}
.signup-form-input{
 margin-left: 7px;
 border: 1px solid gray;
 border-radius: 5px;
 display: block;
 align-items: center;
 margin-top: 30px;
 height: 34px;
 width: 352px;
 padding: 7px 9px 7px 9px;
 box-sizing: border-box;
 margin-bottom: 6px;
}

.signup-form-name{
    // display: inline-block;
    // margin-left: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    height: 20px;
    width: 153px;
    padding: 6px 8px 6px 8px;
    // box-sizing: border-box;
}
.signup-form-link{
    text-decoration: none;
    color:#1a73e8;
    white-space: nowrap;
    width: 110px;
    line-height: 1.4286;
    margin: 8px;
    text-transform: none;
    font-weight: 500;
    font-family: 'Roboto','Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
   
    
}

.signup-form-button{
    background-color:#1a73e8;
    // margin-left: 170px;
    height: 30px;
    width: 90px;
    border: none;
  color: white;
  border-radius: 4px;

  &:hover{
      background-color: #165ebd;
  }
}

.signup-button-link{
    display: flex;
    margin-top: 50px;
    // margin-left: 20px;
    justify-content: space-between;
   
}

.login-div{
    display: flex;
    flex-direction: column;
    font-family: 'Roberto';
    justify-content: center;
    align-items: center;
}



.login-form-header{
    font-size: 26px;
    min-height:  10px;
    margin: 20px;
    margin-left: 10px;
    margin-top: 0px;
    font-family: 'Roboto','Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-weight: 400;
    text-align: center;
    
}

.sign-in-greeting{
    font-size: 26px;
    min-height:  10px;
    margin: 20px;
    margin-left: 10px;
    margin-top: 0px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-weight: 400;
    text-align: center;
}

.login-form-subheader{
    font-size: 16px;
    margin:25px;
    margin-top: -11px;
    font-weight: lighter;
    text-align: center;
    padding-top: 8px;
    line-height: 1.5;
    letter-spacing: .1px;
    font-weight: 400;
    font-family: 'Roboto','Noto Sans Myanmar UI',arial,sans-serif;
}

.signup-form-input-section{
    border: 1px solid gray;
 border-radius: 5px;
 display: block;
 align-items: center;
 margin-top: 0px;
 height: 28px;
 width: 336px;
 margin-left: 50px;
 margin-right: 50px;
 font-size: 16px;

 margin: 1px 1px 0 1px;
 padding: 13px 15px;

 &:focus{
     border: 1px solid #1a73e8;
 }
}

.demo-mode-text{
    // font-size: 16px;
    margin:25px;
    
    // font-weight: lighter;
    color: #5f6368;
    font-size: 14px;
    line-height: 1.4286;
    font-family: 'roboto','Noto Sans Myanmar UI',arial,sans-serif;
}


.sign-in-greeting{
  
    margin-top:25px;
    margin-left: 0px;
    margin-bottom: 70px;

    & h1{
        font-size: 24px;
        height: 32px;
    }
    
    
}
.name-container{
    display: flex;
    padding-top: 24px;
    
    justify-content: space-around;
    margin-left: 4px;
}

.google-ltr-pic{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* margin-top: 90px; */
    height: 501px;

    
}

.before-password{
    margin-left: 0px;
}

.login-button-link{
    display: flex;
    margin-top: 30px;
    margin-left: -15px;
    padding: 20px 10px 20px 20px;
    justify-content: space-between;

    
}

.login-form-link{
    text-decoration: none;
    color:#1a73e8;
font-family: 'Roboto';   


}

.placeholder-space{
    height: 100px;
    width: 100px;
}

.sign-up-form{
    
    margin-top: 30px;
    display: block;
   
    height: 445px;
    width: 668px;
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 36px;
    padding-left: 40px;
    border: #ccc9c9 1px solid;
    border-radius: 4px;
}
.errors{

color: #d93025;
margin-top: 3px;
margin-left: 10px;
width: 300px;
font-family: 'Roboto';
font-size: 12px;
display: flex;
align-items: center;

}
//
.signup-errors{
    text-align: center;
color: red;

width: 300px;

    margin-top: -50px;
}

.demo-button{
    // color:blue;
    // font-size: 14px;
    // line-height: 1.4286;
    font-family: 'roboto','Noto Sans Myanmar UI',arial,sans-serif;
    border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    margin-left: -7px;

    
}

.error-icon{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.sign-in-profile {
    display: flex;
    padding: 0px 6px;
    width: 150px;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 10px;
    margin: auto;
    align-items: center;

    & i{
        font-size:20px;
        margin-right: 8px;
        color: rgb(60, 64, 67);
    }

    & p{
        font-size: 14px;
        line-height:30px;
        font-weight: 500;
    }
}