// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signup-div{
    display: flex;
}
.sign-in-form{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: row;
    margin-top: 0px; 
    margin-left: 150px;
    height: 500px;
    width: 75%;
    align-items: center;
    border-radius: 5px;


}

.signup-form-header{
    margin-left: 10 px;
    font-size: 24px;
    min-height:  10px;
    margin: 10px;
    
}


.signup-form-subheader{
    font-size: 14px;
    margin: -15px;
}
.signup-form-input{
 margin-left: 5px;
 border: 1px solid gray;
 border-radius: 5px;

}

.signup-form-name{
    display: inline-block;

}
.signup-form-link{
    text-decoration: none;
    color: blue;

}

.signup-form-button{
    background-color: lightblue;
}