.video-show-main-container{
    display: flex;
    flex-direction: row;

    z-index: -3;
    background: #f9f9f9;
    position: relative;
}

.video-show-body{
    background-color:#f9f9f9;
    margin-top: 16px;
    padding-left: 100px;
    margin-top: 56px;
    margin-left: 245px;
    padding-top: 10px;

    padding-right: 20px;    
    z-index: -2;
    position: absolute;
}

.video-screen{
    width: 1280px;
    height: 715px;
    z-index: -1;
}

.video-views{
    display: flex;
    justify-content: space-between;
  
}
.video-views li{
    font-size: 14px;
line-height: 21px;
color: rgb(96, 96, 96)
}

.video-uploader-info{
    
  
    height: 168px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    & i{
        font-size: 48px;
        border-radius: 50%;
        margin-right: 16px;
        width: 48px;
    }
}

.video-main-title{
    font-size: 18px;
    line-height: 24px;
}

.video-info-render{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 20px 0 0 0;
    line-height: 30px;
}

.video-profile-name{
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.video-uploader-name{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    
    padding-top: 17px;

}

.video-description{
    margin-left: 64px;
    font-size: 14px;
    line-height: 21px;
    
}

.right-side-container{
width: 254px;
background-color: #f9f9f9;
}

.commments-handler-container{
    display: flex;
    margin-right: 200px;
    padding-bottom: 10px;
    
    border-radius: 1px;
    border-bottom: 2px solid #cccccc;
    


    & li button{
        display: flex;
        width: 65px;
        justify-content: space-around;
        align-items: center;
        color: gray;
        font-size: 20px;
        font-weight: 600;
    }
}


