.video-item-container{
    height: 300px;
    width: 360px;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;

}

.video-thumbail-container{
    height: 202px;
    width: 360px;
}

.video-information-container{
    width: 360px;
    height: 96px;
    display: flex;
    flex-direction: row;
}
.video-uploader-icon{
margin-top: 12px;
margin-right:12px;
height: 36px;
width: 36px;
}

.video-uploader-icon i{
    height: 36px;
    width: 36px;
}

.video-details{
    width: 312px;
    height: 96px;
    padding-right: 24px;
}

.video-title {
    width: 237px;
    height: 22px;
    margin-top: 12px;
    margin-bottom: 4px;
    text-overflow: ellipsis;

    & p{
        color: #030303;
        font-size: 1.0em;;
    font-weight: 500;
    // line-height: 2.2rem;
    font-weight: bold;
    font-family:'Roberto', 'Arial', 'sans-serif';
}
   
}

.video-uploader, .video-upload-date{
    height: 18px;
    width: 290px;
    font-size: .8em;
    font-weight: 600;
    line-height: 3.0;
    text-transform: capitalize;
    font-family:'Roboto', 'Arial', 'sans-serif';
    font-weight: lighter;
    color: #606060
}
.row{
    display: flex;
    justify-content: space-around;
}